<div class="row">
  <div class="col-md-12">
    <h1>Novo departamento</h1>
    <form>
      <section class="form-block">
        <div class="form-group">
          <label>Nome: </label>
          <input [(ngModel)]="newDepartment.name" name="name" type="text" placeholder="Digite o nome aqui..." size="45">
        </div>
        <div class="form-group">
          <label>E-mail: </label>
          <input [(ngModel)]="newDepartment.email" name="email" type="text" placeholder="Digite o e-mail aqui..." size="45">
        </div>
        <button type="button" class="btn btn-primary" (click)="addDepartment()">Adicionar</button>
        <button type="button" class="btn btn-danger" (click)="goBack()">Cancelar</button>
      </section>
    </form>
  </div>
</div>